//
//  Secrets.xcconfig
//  se-fitness
//
//  Created by olivia chen on 2025-08-21.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GOOGLE_URL_SCHEME = com.googleusercontent.apps.31242856128-tl3eeeo42246fsbg103s3fp2he9iu3ni
